/*  Author : Omar Besbes */
/*  Description : Styles for Popup component */

.popup-window {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000080;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    z-index: 1;

    filter: blur(20px);
    -webkit-filter: blur(20px);
}

.popup-inner {
    max-width: 700px;
    padding: 15px;
    border: 0;
    border-radius: 10px;
    background-color: var(--c1);
    opacity: 1;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.popup-closeButton {
    font-family: var(--f);
    font-size: 20px;
    background-color: var(--c3);
    margin: 20px 10px 10px;
    padding: 10px 20px 10px;
    border: 0;
    border-radius: 10px;
    transition: 0.7s;
    cursor: pointer;
}

