/*  Author : Omar Besbes */
/*  Description : Styles for Project component */

.project-window {
    background-color: var(--c3);
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
    transition: all 0.7s ease;

    /* This code disables selection on text*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.project-window:hover {
    box-shadow: 0 0 10px var(--c2);
    cursor: pointer;
}

.project-projectName {
    color: var(--c2);
    font-family: var(--f);
    font-size: 30px;
    font-weight: 1000;
    flex: 0 1 auto;
    align-self: center;
    border-bottom: 1px solid var(--c4);
    margin-bottom: 20px;
    text-transform: capitalize;
}

.project-members {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;

    margin: 5px 10px 0;
    padding: 10px;
    border-radius: 10px;
}

.project-member {
    color: var(--c2);
    font-family: var(--f);
    font-size: 24px;
    font-weight: 1000;
    flex: 0 1 auto;
    margin-bottom: 5px;
}

.project-membersImages {
    flex: 0 1 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project-memberImage {
    flex: 0 1 auto;
    width: 35px;
    height: 35px;
    margin: 0 5px;
    border-radius: 50%;
}

.project-tasks {
    color: var(--c2);
    font-family: var(--f);
    font-size: 24px;
    font-weight: 1000;
    flex: 0 1 auto;

    margin: 5px 10px 0;
    padding: 10px;
}


