/*  Author : Omar Besbes */
/*  Description : Styles for Project component */

@font-face {
    font-family: Cream;
    src: url("../../public/fonts/cream-DEMO.otf");
}

@font-face {
    font-family: Monserrat;
    src: url("../../public/fonts/Montserrat-Regular.ttf");
}

:root {
    --p : 50%;
    --c1 : #89B5AF;
    --c2 : #222831;
    --c3 : #EEEEEE;
    --c4 : #393E46;
    --f : Monserrat;
}

.project {
    background-color: var(--c1);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /* This code disables selection on text*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.projectName {
    color: var(--c2);
    font-family: var(--f);
    font-size: 30px;
    font-weight: 1000;
    flex: 0 1 auto;
    text-transform: capitalize;
}

.members {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
}

.member {
    color: var(--c2);
    font-family: var(--f);
    font-size: 24px;
    font-weight: 1000;
    flex: 0 1 auto;
}

.membersImage {
    flex: 0 1 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.memberImage {
    flex: 0 1 auto;
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;
}

.tasks {
    color: var(--c3);
    font-family: var(--f);
    font-size: 24px;
    font-weight: 1000;
    flex: 0 1 auto;
}

.progress-bar {
    flex: 0 1 auto;
    background-color: var(--c3);
    border: 1px solid var(--c3);
    border-radius: 10px;
    height: 25px;
    width: 25%;
    text-align: center;
    position: relative;
}

.progress {
    background-color: var(--c2);
    color: var(--c3);
    font-family: var(--f);
    border-radius: inherit;
    height: 100%;
    width: var(--p);
    text-align: center;
    vertical-align: middle;

    /* This code disables selection on text*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

span {
    z-index: 1;
}


